sudo: false
language: node_js
node_js:
  - "4.2"
  - "6"
addons:
  apt:
    packages:
      - graphicsmagick
      - mediainfo
script:
  - gm version
  - mediainfo --Version || true
  - npm run lint
  - npm test
after_script: "npm run coverage"
cache:
  directories:
    - node_modules
matrix:
  fast_finish: true
